{% extends 'base.html.twig' %}

{% block body %}
    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <title>{% block title %}Add an exercise{% endblock %}</title>
    <div class="container my-5 text-white d-flex flex-column align-items-center">
        <div class="text-center mb-5">
            <h1>Add New Exercise</h1>
        </div>

        <div class="card bg-light text-dark mb-5 w-75">
            <div class="card-body">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-group mb-3">
                    {{ form_label(form.name, 'Name', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.link_video, 'Video Link', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.link_video, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.tip, 'Tip', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.tip, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group text-center mb-3">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-orange'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-secondary" onclick="history.back()">Back</button>
        </div>
    </div>
{% endblock %}
