{% extends 'base.html.twig' %}

{% block body %}
    <title>{% block title %}Exercise List{% endblock %}</title>
    <div class="container my-5 text-white">
        <h1 class="text-center">Exercise List</h1>
        <br>
        {% if exercises is not empty %}
            <div class="row" align="center">
                {% for exercise in exercises %}
                    {% set videoId = exercise.linkVideo|split('watch?v=')|last %}
                    <div class="col-md-4 my-3">
                        <div class="card h-100 bg-light text-dark rounded-card">
                            <div class="card-body">
                                <h5 class="card-title">{{ exercise.name }}</h5>
                                <a href="{{ exercise.linkVideo }}" class="thumbnail">
                                    <img src="https://img.youtube.com/vi/{{ videoId }}/0.jpg" alt="Video thumbnail" class="img-fluid rounded">
                                </a>
                                <a href="/exercise/{{ exercise.id }}" class="btn btn-orange mt-3">View Exercise</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <nav aria-label="Page navigation example" >

                    <ul class="pagination justify-content-center" >
                        {% if currentPage > 1 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ currentPage - 1 }}">Previous</a>
                            </li>
                        {% endif %}

                        {% for page in 1..totalPages %}
                            <li class="page-item {% if page == currentPage %}active{% endif %}">
                                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}

                        {% if currentPage < totalPages %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ currentPage + 1 }}">Next</a>
                            </li>
                        {% endif %}
                    </ul>

                </nav>

            </div>
        {% else %}
            <p class="text-center">No exercises found.</p>
        {% endif %}
        <div class="text-center mt-5">
            <button class="btn btn-secondary" onclick="history.back()">Back</button>
        </div>
    </div>

    <style>
        .rounded-card {
            border-radius: 15px;
            transition: transform 0.3s;
        }

        .rounded-card:hover {
            transform: translateY(-5px);
        }
    </style>
{% endblock %}
