{% extends 'base.html.twig' %}

{% block body %}
    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <title>{% block title %}Add an Exercise Log{% endblock %}</title>
    <div class="container my-5 text-white d-flex flex-column align-items-center">
        <div class="text-center mb-5">
            <h1>Add New Exercise Log</h1>
        </div>

        <div class="card bg-light text-dark mb-5 w-75">
            <div class="card-body">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-group mb-3">
                    {{ form_label(form.workout, 'Workout', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.workout, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.exercise, 'Exercise', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.exercise, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.nr_reps, 'Number of Reps', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.nr_reps, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.duration, 'Duration', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.duration, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group text-center mb-3">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-orange'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-secondary" onclick="history.back()">Back</button>
        </div>
    </div>
{% endblock %}
