{% extends 'base.html.twig' %}

{% block body %}
    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <title>{% block title %}Edit user{% endblock %}</title>
    <div class="container my-5 text-white d-flex flex-column align-items-center">
        <div class="text-center mb-5">
            <h1>Edit user details</h1>
        </div>

        <div class="card bg-light text-dark mb-5 w-75 rounded">
            <div class="card-body">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-group mb-3">
                    {{ form_label(form.nume, 'Name', {'label_attr': {'class': 'form-label'}}) }}
                    <div>
                        {{ form_widget(form.nume, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.mail, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                    <div>
                        {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.parola, 'Password', {'label_attr': {'class': 'form-label'}}) }}
                    <div>
                        {{ form_widget(form.parola, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.birthday, 'Birthday', {'label_attr': {'class': 'form-label'}}) }}
                    <div>
                        {{ form_widget(form.birthday, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.gender, 'Gender', {'label_attr': {'class': 'form-label'}}) }}
                    <div>
                        {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group mb-3 text-center">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-orange'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="text-center">
            <a href="/user/{{ user.id }}" class="btn btn-secondary">Back</a>
        </div>
    </div>
{% endblock %}
