{% extends 'base.html.twig' %}

{% block body %}
    <title>{% block title %}{{ user.nume }}{% endblock %}</title>
    <div class="container my-5 text-white">
        <div class="text-center mb-5">
            <h1>{{ user.nume }}</h1>
        </div>

        {% if user is not empty %}
            <div class="card bg-light text-dark mb-4 rounded-lg">
                <div class="card-header">
                    <div class="row text-center">
                        <div class="col-md-2">
                            <strong>Profile</strong>
                        </div>
                        <div class="col-md-2">
                            <strong>Name</strong>
                        </div>
                        <div class="col-md-2">
                            <strong>Email</strong>
                        </div>
                        <div class="col-md-2">
                            <strong>Birthday</strong>
                        </div>
                        <div class="col-md-2">
                            <strong>Gender</strong>
                        </div>
                        <div class="col-md-2">
                            <strong>Action</strong>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row text-center align-items-center">
                        <div class="col-md-2">
                            <div class="thumb-lg member-thumb mx-auto">
                                {% set maleAvatars = [1, 2, 4, 5, 6, 7] %}
                                {% set femaleAvatars = [3, 8] %}
                                {% set allAvatars = [1, 2, 3, 4, 5, 6, 7, 8] %}

                                {% if user.gender == 1 %}
                                    {% set avatar = femaleAvatars[(user.id) % 2] %}
                                {% elseif user.gender == 0 %}
                                    {% set avatar = maleAvatars[(user.id) % 6] %}
                                {% else %}
                                    {% set randomIndex = (allAvatars|length - 1) * random() %}
                                    {% set avatar = allAvatars[randomIndex|round] %}
                                {% endif %}
                                <img src="https://bootdey.com/img/Content/avatar/avatar{{ avatar }}.png" class="rounded-circle img-thumbnail" alt="profile">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p>{{ user.nume }}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{ user.mail }}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{ user.birthday|date('d-m-Y') }}</p>
                        </div>
                        <div class="col-md-2">
                            {% if user.gender == 0 %}
                                <p>Male</p>
                            {% elseif user.gender == 1 %}
                                <p>Female</p>
                            {% else %}
                                <p>Not specified</p>
                            {% endif %}
                        </div>
                        <div class="col-md-2 d-flex flex-column">
                            <a href="/user/{{ user.id }}/edit-form" class="btn btn-primary btn-sm mb-2">Edit User</a>
                            <a href="/user/{{user.id}}/delete-form" class="btn btn-danger btn-sm">Delete User</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-center">No users found.</p>
        {% endif %}

        <div class="text-right mt-3">
            <button class="btn btn-secondary" onclick="history.back()">Back</button>
        </div>
    </div>
    <style>
        .member-thumb img {
            width: 75px;
            height: 75px;
        }

        .card-header {
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
        }
        .col-md-2.d-flex {
            flex-direction: column;
            align-items: center;
        }
    </style>
{% endblock %}
